* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    ;
}

body {
    background-color: rgb(44, 44, 44);
}

td {
    vertical-align: middle;
    padding: 15px !important;
    font-size: 1.2rem;
}

.navbar {
    background-color: rgb(44, 44, 44, .9) !important;
    transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.navbar.shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(44, 44, 44, 1); /* Cambiar el color de fondo si es necesario */
}

.navbar .logo {
    max-width: 8rem;
    transition: max-width 0.3s ease-in-out;

}

.navbar.shrink .logo {
    max-width: 5rem;
}


.navbar p {
    font-size: 3rem !important; /* Ajusta según el tamaño inicial */
    transition: font-size 0.5s ease-in-out;
}

.navbar.shrink p {
    font-size: 2rem !important; /* Ajusta según el tamaño deseado al hacer scroll */
}

.logo {
    max-width: 10rem;
}

.title-1{
    margin-top:50px;
}

.buscador {
    color: #fff;
    height: 3rem;
    font-size: 1.4rem
}

.buscador::placeholder,
.buscador:focus {
    color: grey;
}

.top_3 {
    border: 1px solid grey;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
}

.top_3_porcentaje_rojo{
    border-radius: 100px;
    color: #fff;
    background-color: #f52d2d;
    padding: 2px 10px;
}

.top_3_porcentaje_verde{
    border-radius: 100px;
    color: #fff;
    background-color: #1ab81a;
    padding: 2px 15px;
}

.criptos_pincipales {
    border: 1px solid grey;
    padding: 2rem;
    font-size: 3.5rem;
    border-radius: 8px;
}

.logo_criptos_principales {
    max-width: 8rem;
}

.logo_criptos_lista {
    max-width: 2.2rem;
}

.filtro {
    display: none;
}

.menu:hover {
    color: rgb(228, 140, 25) !important;
}

.ir-arriba {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000; /* Cambia el color según prefieras */
    color: #fff;
    border: 1px solid grey;;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.ir-arriba:hover {
    background-color: #555; /* Cambia el color al pasar el mouse */
}

.ir-arriba.show {
    display: block;
    opacity: 1;
}

::selection {
    background-color: rgb(228, 140, 25); /* Color de fondo para el texto seleccionado */
    color: rgb(44, 44, 44); /* Color del texto seleccionado */
}

/* Para navegadores basados en WebKit como Chrome y Safari */
::-webkit-selection {
    background-color: rgb(228, 140, 25); /* Color de fondo para el texto seleccionado */
    color: rgb(44, 44, 44); /* Color del texto seleccionado */
}

@media screen and (max-width: 575px){
    .logo{
        width: 4rem;
    }
    .navbar p {
        font-size: 2.5rem !important; /* Ajusta según el tamaño inicial */
        transition: font-size 0.5s ease-in-out;
    }
}